*{
  box-sizing: border-box;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #171717;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  word-wrap: break-word;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
 text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: #171717;
  font-weight: 500;
}

button {
  appearance: none;
  height: 32px;
  width: 32px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 8px;
}

button img {
  height: 20px;
  width: 20px;
}

.table-wrapper{
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: 500;
  vertical-align: middle;
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #e1e4e8;
}

td{
  line-height: 63px;
  padding: 0 0.5rem;
  vertical-align: top;
  border-bottom: 1px solid #e1e4e8;
  border-right: 1px solid #e1e4e8;
}

td:last-child{
  border-right: none;
}

.dex-col {
  width: 52px;
}

.name-col {
  width: 150px;
}

.min-width{
  width: 1%;
}

.sprite-with-text {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  gap: 10px;
}

.pokesprite {
  margin: -18px 0 -4px 0;
}

tbody img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  max-width: inherit;
}
